.btn-count{
    border:0px solid rgba(0, 0, 0, 0.775);
    background-color: yellow;
    color: black;
    border-radius: 5px;
    align-items: baseline;
    display: inline-block;
    
    height: 2rem;
    width: 3rem;
    font-size: larger;
    font-weight: bolder;
}

.btn-count:hover{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 0);
    color: rgba(0, 0, 0, 0.851);
    
}
.btn-count:disabled{
    color: rgba(0, 0, 0, 0.4);
    border:0px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 0, 0.3);
    transition: 0.2s;
}


.agregar:hover{
    
    transition: 0.5s;
    border: .5px solid yellow;
}
.count{
    display: inline-block;
    border: none;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    height: 2rem;
    width: 5rem;
    color: black;

}
.agregar{
    background-color: rgb(1, 19, 19);
    border:0px solid yellow;
    border-radius: 5px;
    padding: 0 3rem;
    margin-top: 1rem;
    height: 2rem;
    width: 11rem;
    font-size: larger;
    color: yellow;
    font-weight:lighter
}

.contenedor-count{
    height: auto;
    width: auto;
    display: block;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}
